@model DeterminantCalculationTree

<div>
    @if (Model.Matrix.ColumnCount > 2)
    {
        <math>
            <mrow>
                <mrow>
                    <mo>|</mo>
                    <math-matrix data="@Model.Matrix" />
                    <mo>|</mo>
                </mrow>
                <mo>=</mo>
                @for (int j = 0; j < Model.Matrix.ColumnCount; j++)
                {
                    @if (j > 0)
                    {
                        <mo>@(j % 2 == 0 ? "+" : "-")</mo>
                    }
                    <math-number value="@Model.Matrix[0, j]" />
                    <mo>*</mo>
                    <mrow>
                        <mo>|</mo>
                        <math-matrix data="Model.Subtrees[j].Matrix" />
                        <mo>|</mo>
                    </mrow>
                }
            </mrow>
        </math>
        <ol class="multilevelList">
            @foreach (var subtree in Model.Subtrees)
            {
                <li>
                    @await Html.PartialAsync("DeterminantCalculation", subtree)
                </li>
            }
        </ol>
    }

    <math>
        <mrow>
            <mrow>
                <mo>|</mo>
                <math-matrix data="@Model.Matrix" />
                <mo>|</mo>
            </mrow>
            <mo>=</mo>
            @for (int j = 0; j < Model.Matrix.ColumnCount; j++)
            {
                @if (j > 0)
                {
                    <mo>@(j % 2 == 0 ? "+" : "-")</mo>
                }
                <math-number value="@Model.Matrix[0, j]" />
                <mo>*</mo>
                <math-number value="@Model.Subtrees[j].Determinant" />
            }
            <mo>=</mo>
            <mn>@Model.Determinant</mn>
        </mrow>
    </math>
</div>