@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Html
@using Microsoft.Extensions.Options
@using MatrixCalculators.EquationsSystemsSolvers
@using MatrixCalculators.Utils
@using MatrixOnlineCalculator.Models.Options
@using MatrixOnlineCalculator.HtmlHelpers

@model EssGaussianEliminationSolution

@inject IOptions<MathFormatOptions> MathFormatOptions
@inject IViewLocalizer Localizer

<ol>
    <li>
        <p>
            @Localizer["Построим расширенную матрицу <math><mi>A|B</mi></math>:"]
        </p>
        <p>
            <math>
                <mrow>
                    <mo>(</mo>
                    <math-matrix data="Model.SolutionSteps.Initial"
                                 precision="MathFormatOptions.Value.DecimalPrecision" />
                    <mo>)</mo>
                </mrow>
            </math>
        </p>
    </li>
    @await Html.PartialAsync("_GaussianElimination", Model.SolutionSteps)
    <li>
        <p>
            @Localizer["По полученной матрице найдем ранги матрицы <math><mi>A</mi></math> и " +
            "расширенной матрицы <math><mi>A|B</mi></math> (ранг матрицы равен количеству ненулевых строк):"]
        </p>
        <p>
            <math>
                <mi>rangA</mi>
                <mo>=</mo>
                <mn>@Model.A.Rank()</mn>
            </math>
        </p>
        <p>
            <math>
                <mi>rangA|B</mi>
                <mo>=</mo>
                <mn>@Model.SolutionSteps.Result.Rank()</mn>
            </math>
        </p>
    </li>
    @switch (Model.SolutionsNumber)
    {
        case SolutionsNumber.NoSolution:
            <li>
                <p>
                    @Localizer["Ранг матрицы <math><mi>A</mi></math> и ранг расширенной матрицы не равны, " +
                    "следовательно, система уравнений не имеет решений."]
                </p>
            </li>
            break;
        case SolutionsNumber.OneSolution:
            <li>
                <p>
                    @Localizer["Ранг матрицы <math><mi>A</mi></math> и ранг расширенной матрицы равны количеству " +
                    "переменных, следовательно, система уравнений имеет единственное решение."]
                </p>
            </li>
            <li>
                <p>@Localizer["Вычислим значения переменных:"]</p>
                @BasicVariablesValues(Model, MathFormatOptions.Value.DecimalPrecision)
            </li>
            break;
        case SolutionsNumber.InfinitelyManySolutions:
            <li>
                <p>
                    @Localizer["Ранг матрицы <math><mi>A</mi></math> и ранг расширенной матрицы равны, но " +
                    "не равны количеству переменных, следовательно, система уравнений имеет множество решений."]
                </p>
            </li>
            <li>
                <p>@Localizer["Выпишем свободные переменные:"]</p>
                @foreach (var i in Model.FreeVariables)
                {
                    <p>
                        <math>
                            <msub><mi>x</mi><mn>@(i + 1)</mn></msub>
                            <mo>=</mo>
                            <math-polynomial coefficients="Model.X.Row(i)"
                                             precision="MathFormatOptions.Value.DecimalPrecision" />
                        </math>
                    </p>
                }
            </li>
            <li>
                <p>@Localizer["Выразим базисные переменные через свободные:"]</p>
                @BasicVariablesValues(Model, MathFormatOptions.Value.DecimalPrecision)
            </li>
            break;
    }
</ol>

@section Scripts
{
    <partial name="_GlobalizationScripts" />
}

@functions
{
    public IHtmlContent BasicVariablesValues(
        EssGaussianEliminationSolution solution,
        int precision)
    {
        var result = new HtmlContentBuilder();

        for (int i = solution.BasicVariables.Count - 1; i >= 0; i--)
        {
            var paragraphTag = new TagBuilder("p");
            var mathTag = new TagBuilder("math");

            int variable = solution.BasicVariables[i];

            mathTag.InnerHtml.AppendHtml($"<msub><mi>x</mi><mn>{variable + 1}</mn></msub>");
            mathTag.InnerHtml.AppendHtml("<mo>=</mo>");

            var row = solution.SolutionSteps.Result.Row(i);
            var polynomial = new double[row.Count];
            polynomial[0] = row[row.Count - 1];

            for (int j = variable + 1; j < row.Count - 1; j++)
            {
                polynomial[j + 1] = -row[j];
            }

            if (polynomial.Count(x => !MathUtils.AreEqual(x, 0, precision)) > 1)
            {
                mathTag.InnerHtml.AppendHtml("<mo>(</mo>");
                mathTag.InnerHtml.AppendHtml(
                    MathHtmlHelper.Polynomial(polynomial, "x", precision));
                mathTag.InnerHtml.AppendHtml("<mo>)</mo>");
            }
            else
            {
                mathTag.InnerHtml.AppendHtml(
                    MathHtmlHelper.Polynomial(polynomial, "x", precision));
            }

            mathTag.InnerHtml.AppendHtml("<mo>/</mo>");
            mathTag.InnerHtml.AppendHtml(
                MathHtmlHelper.Number(solution.SolutionSteps.Result[i, variable], true, precision));
            mathTag.InnerHtml.AppendHtml("<mo>=</mo>");
            mathTag.InnerHtml.AppendHtml(
                MathHtmlHelper.Polynomial(solution.X.Row(variable), "c", precision));

            paragraphTag.InnerHtml.SetHtmlContent(mathTag);
            result.AppendHtml(paragraphTag);
        }

        return result;
    }
}
