@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Html
@using Microsoft.Extensions.Options
@using MatrixCalculators.EquationsSystemsSolvers
@using MatrixCalculators.Utils
@using MatrixOnlineCalculator.Models.Options
@using MatrixOnlineCalculator.HtmlHelpers
@using MathNet.Numerics.LinearAlgebra;

@model EssGaussianEliminationSolution

@inject IOptions<MathFormatOptions> MathFormatOptions
@inject IViewLocalizer Localizer

<ol>
    <li>
        <p>
            @Localizer["Построим расширенную матрицу <math><mi>A|B</mi></math>:"]
        </p>
        <p>
            <math>
                <mrow>
                    <mo>(</mo>
                    <math-matrix data="Model.SolutionSteps.Initial"
                                 precision="MathFormatOptions.Value.DecimalPrecision" />
                    <mo>)</mo>
                </mrow>
            </math>
        </p>
    </li>
    @await Html.PartialAsync("_GaussianElimination", Model.SolutionSteps)
    <li>
        <p>
            @Localizer["По полученной матрице найдем ранги матрицы <math><mi>A</mi></math> и " +
            "расширенной матрицы <math><mi>A|B</mi></math> (ранг матрицы равен количеству ненулевых строк):"]
        </p>
        <p>
            <math>
                <mi>rangA</mi>
                <mo>=</mo>
                <mn>@Model.A.Rank()</mn>
            </math>
        </p>
        <p>
            <math>
                <mi>rangA|B</mi>
                <mo>=</mo>
                <mn>@Model.SolutionSteps.Result.Rank()</mn>
            </math>
        </p>
    </li>
    @switch (Model.SolutionsNumber)
    {
        case SolutionsNumber.NoSolution:
            <li>
                <p>
                    @Localizer["Ранг матрицы <math><mi>A</mi></math> и ранг расширенной матрицы не равны, " +
                    "следовательно, система уравнений не имеет решений."]
                </p>
            </li>
            break;
        case SolutionsNumber.OneSolution:
            <li>
                <p>
                    @Localizer["Ранг матрицы <math><mi>A</mi></math> и ранг расширенной матрицы равны количеству " +
                    "переменных, следовательно, система уравнений имеет единственное решение."]
                </p>
            </li>
            <li>
                <p>@Localizer["Вычислим значения переменных:"]</p>
                @foreach (var i in Model.BasicVariables)
                {
                    @VariableValue(i, Model.X.Row(i), MathFormatOptions.Value.DecimalPrecision)
                }
            </li>
            break;
        case SolutionsNumber.InfinitelyManySolutions:
            <li>
                <p>
                    @Localizer["Ранг матрицы <math><mi>A</mi></math> и ранг расширенной матрицы равны, но " +
                    "не равны количеству переменных, следовательно, система уравнений имеет множество решений."]
                </p>
            </li>
            <li>
                <p>@Localizer["Выпишем свободные переменные:"]</p>
                @foreach (var i in Model.FreeVariables)
                {
                    <p>
                        <math>
                            <msub><mi>x</mi><mn>@(i + 1)</mn></msub>
                            <mo>=</mo>
                            <math-polynomial coefficients="Model.X.Row(i)"
                                             precision="MathFormatOptions.Value.DecimalPrecision" />
                        </math>
                    </p>
                }
            </li>
            <li>
                <p>@Localizer["Выразим базисные переменные через свободные:"]</p>
                @foreach (var i in Model.BasicVariables)
                {
                    @VariableValue(i, Model.X.Row(i), MathFormatOptions.Value.DecimalPrecision)
                }
            </li>
            break;
    }
</ol>

@section Scripts
{
    <partial name="_GlobalizationScripts" />
}

@functions
{
    public IHtmlContent VariableValue(
        int variableIndex,
        Vector<double> coefficients,
        int precision)
    {
        var result = new HtmlContentBuilder();

        var paragraphTag = new TagBuilder("p");
        var mathTag = new TagBuilder("math");

        mathTag.InnerHtml.AppendHtml($"<msub><mi>x</mi><mn>{variableIndex + 1}</mn></msub>");
        mathTag.InnerHtml.AppendHtml("<mo>=</mo>");
        mathTag.InnerHtml.AppendHtml(MathHtmlHelper.Polynomial(coefficients, "c", precision));

        return result;
    }
}
