@using Microsoft.AspNetCore.Mvc.Localization
@using MatrixOnlineCalculator.ViewModels.EquationsSystemsSolvers

@model SquareEquationsSystemsSolverFormViewModel

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Решение системы уравнений"];
}

<h1>@Localizer["Решение системы уравнений"] (@Model.MethodName)</h1>
<form asp-controller="EquationsSystemsSolvers" asp-action="@Model.ActionName" method="post">
    <div class="form-group">
        <label for="variablesNumber">@Localizer["Количество переменных:"]</label>
        <select id="variablesNumber" name="variablesNumber" class="custom-select">
            @for (int i = Model.MinVariablesNumber; i <= Model.MaxVariablesNumber; i++)
            {
                <option value="@i">@i</option>
            }
        </select>
    </div>
    <div id="equationSystem" class="form-group"></div>
    <input type="submit" class="btn btn-primary" value="@Localizer["Найти решение"]" />
</form>

@section Scripts
{
    <partial name="_GlobalizationScripts" />
    <partial name="_ValidationScripts" />
    <script>
        $(function () {
            $("#variablesNumber").val(@Model.DefaultVariablesNumber);
            $("#equationSystem").html(renderEquationsSystemInput(@Model.DefaultVariablesNumber, @Model.DefaultVariablesNumber, "a", "b"));

            $("#variablesNumber").change(function () {
                $("#equationSystem").empty()
                    .html(renderEquationsSystemInput($(this).val(), $(this).val(), "a", "b"));
            });

            $("form").validate({
                errorPlacement: function () { }
            });

            $("[name^=a]").each(function () {
                $(this).rules("add", {
                    required: true,
                    number: true
                });
            });

            $("[name^=b]").each(function () {
                $(this).rules("add", {
                    required: true,
                    number: true
                });
            });
        });
    </script>
}