@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Матричный калькулятор"];
}

<h1>@Localizer["Калькуляторы"]</h1>
<div>
    <p>@Localizer["Вычисление определителя матрицы:"]</p>
    <ul>
        <li>
            <a asp-controller="DeterminantCalculation" asp-action="LaplaceExpansion">
                @Localizer["С помощью теоремы Лапласа"]
            </a>
        </li>
        <li>
            <a asp-controller="DeterminantCalculation" asp-action="GaussianElimination">
                @Localizer["Методом Гаусса"]
            </a>
        </li>
    </ul>
    <p>@Localizer["Решение системы уравнений:"]</p>
    <ul>
        <li>
            <a asp-controller="EquationsSystemsSolvers" asp-action="GaussianElimination">
                @Localizer["Методом Гаусса"]
            </a>
        </li>
        <li>
            <a asp-controller="EquationsSystemsSolvers" asp-action="CramerRule">
                @Localizer["Методом Крамера"]
            </a>
        </li>
    </ul>
</div>