@model DeterminantByGaussianElimination
@{
    ViewData["Title"] = "Вычисление определителя матрицы";
    const int precision = 4;
}

<h1>Вычисление определителя матрицы (метод Гаусса)</h1>
<p>
    <math>
        <mrow>
            <mo>|</mo>
            <math-matrix data="Model.GaussianElimination.Initial" />
            <mo>|</mo>
        </mrow>
        <mo>=</mo>
        <math-number value="Model.Determinant" precision="precision" />
    </math>
</p>

<p>Подробное решение:</p>
<ol>
    @foreach (var operation in Model.GaussianElimination.ElementaryRowOperations)
    {
        if (!operation.Initial.Equals(operation.Result))
        {
            <li>
                <p>
                    @switch (operation)
                    {
                        case RowSwitching rs:
                            <math>
                                <mrow>
                                    <msub>
                                        <mi>R</mi>
                                        <mn>@(rs.FirstRow + 1)</mn>
                                    </msub>
                                    <mo>&harr;</mo>
                                    <msub>
                                        <mi>R</mi>
                                        <mn>@(rs.SecondRow + 1)</mn>
                                    </msub>
                                </mrow>
                            </math>
                            break;
                        case RowAdditionsSet ras:
                            {
                                bool isFirstAddition = true;

                                foreach (var addition in ras.Additions)
                                {
                                    if (!MathUtils.AreEqual(0, addition.Multiplier, MathUtils.Epsilon))
                                    {
                                        if (!isFirstAddition)
                                        {
                                            @: ,
                                        }
                                        else
                                        {
                                            isFirstAddition = false;
                                        }

                                        <math>
                                            <msub>
                                                <mi>R</mi>
                                                <mn>@(addition.FirstSummandRow + 1)</mn>
                                            </msub>
                                            @if (addition.Multiplier > 0)
                                            {
                                                <mo>+</mo>
                                                if (!MathUtils.AreEqual(addition.Multiplier, 1, MathUtils.Epsilon))
                                                {
                                                    <math-number value="addition.Multiplier" 
                                                                 precision="precision"/>
                                                }
                                            }
                                            else
                                            {
                                                <mo>-</mo>
                                                if (!MathUtils.AreEqual(addition.Multiplier, -1, MathUtils.Epsilon))
                                                {
                                                    <math-number value="Math.Abs(addition.Multiplier)" 
                                                                 precision="precision"/>
                                                }
                                            }
                                            <msub>
                                                <mi>R</mi>
                                                <mn>@(addition.SecondSummandRow + 1)</mn>
                                            </msub>
                                            <mo>&rarr;</mo>
                                            <msub>
                                                <mi>R</mi>
                                                <mn>@(addition.FirstSummandRow + 1)</mn>
                                            </msub>
                                        </math>
                                    }
                                }
                            }
                            break;
                    }
                </p>
                <p>
                    <math>
                        <mrow>
                            <mo>(</mo>
                            <math-matrix data="operation.Initial" precision="precision" />
                            <mo>)</mo>
                        </mrow>
                        <mo>&rarr;</mo>
                        <mrow>
                            <mo>(</mo>
                            <math-matrix data="operation.Result" precision="precision" />
                            <mo>)</mo>
                        </mrow>
                    </math>
                </p>
            </li>
        }
    }
    <li>
        <p>Вычислим значение определителя:</p>
        <p>
            <math>
                <mrow>
                    <mo>|</mo>
                    <math-matrix data="Model.GaussianElimination.Initial" />
                    <mo>|</mo>
                </mrow>
                <mo>=</mo>
                @for (int i = 0; i < Model.GaussianElimination.Initial.RowCount; i++)
                {
                    if (i > 0)
                    {
                        <mo>&sdot;</mo>
                    }
                    <math-number value="Model.GaussianElimination.Result[i, i]" 
                                 precision="precision" 
                                 use-brackets="true" />
                }
                <mo>=</mo>
                <math-number value="Model.Determinant" precision="precision"/>
            </math>
        </p>
    </li>
</ol>

@section Scripts
{
    <partial name="_GlobalizationScripts" />
}